* {
    background-color: bisque;
}
.parrafo {
    column-count: 3;
    column-gap: 40px;
    column-rule-style:groove;
    column-rule-color: red;
    column-rule-width: 2px;

}
.titulo{
color:red
    
}
.titulo:hover {

color: black;
}

.parrafo::selection {
color:red;
background-color: yellow;
}