html{
  overflow: hidden
}

/* Animaciones */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  
  /* Estilos del cuerpo */
  body {
    margin-top: 1.5rem;
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    -moz-animation: bg-scrolling-reverse .92s infinite;
    -o-animation: bg-scrolling-reverse .92s infinite;
    animation: bg-scrolling-reverse .92s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    overflow: auto;
  }
  
  /* Fuentes importadas */
  @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
  @import url("https://fonts.googleapis.com/css?family=Roboto:100");
  
  /* Contenedor de botones */
  .button-container-1 {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px solid;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
  }
  .button-container-1 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
  }
  .button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
  }
  
  /* Título */
  body::before {
    content: "Level 1";
    font-size: 4rem;
    font-weight: 100;
    font-style: normal;
  }
  .no-margins{
    margin: 0px;
  }
  .lvl-1{
    width: 75%;
    margin: 0px;
  }
  #stickman-lvl1{
    position: absolute; /* Posiciona el elemento de forma absoluta */
    top: 625px; /* Ajusta la posición desde el borde superior */
    left: 190px; /* Ajusta la posición desde el borde izquierdo */
    width: 50px; /* Ancho del elemento */
    height: 100px; /* Altura del elemento */
}

  .music-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex; 
    align-items: center; 
  }
  
  .music-controler {
    width: 150px; 
    height: 20px; 
    background-color: #dddddd; 
    outline: none;
    -webkit-appearance: none; 
    appearance: none;
    margin-left: 10px; 
  }
  
  .music-controler::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: #666666; 
    cursor: pointer;
  }
  
  .sound-print {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
  }
  
  